/* app css stylesheet */

body {
    width: 100%;
    height: 100%;
    position: relative;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-underlined {
    text-decoration: underline;
}

.nav, .pagination, .carousel, .panel-title a, i { cursor: pointer; }

.text-centered {
    text-align: center;
}

.text-underlined {
    text-decoration: underline;
}

#content {
    position: relative;
    width: 75%;
    margin: 0 auto;
}
