/* app css stylesheet */

body {
    width: 100%;
    height: 100%;
    position: relative;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-underlined {
    text-decoration: underline;
}

.nav, .pagination, .carousel, .panel-title a, i { cursor: pointer; }

.text-centered {
    text-align: center;
}

.text-underlined {
    text-decoration: underline;
}

#content {
    position: relative;
    width: 75%;
    margin: 0 auto;
}

.small-title i {
    font-size: 15px;
}

.modal-dialog {
    width: 50%;
}

.scrolling-table {
    box-sizing: border-box;
    /*display: inline-block;*/
    vertical-align: middle;
    overflow: hidden;
    width: auto;
    height: 360px;
}
.scrolling-table * {box-sizing: border-box;}
.scrolling-table > div {
    position: relative;
    height: 100%;
}
.scrolling-table > div:before {
    top: 0;
}
.scrolling-table > div:before,
.scrolling-table > div > div:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 50%;
    left: 0;
}
.scrolling-table > div > div {
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}