<div>
    <!-- All Apy Fields directives -->
    <script type="text/ng-template" id="field-objectid.html">
        <div ng-if="field.$states.$current === field.$states.READ">
            {{ field.$value || field._id }}
        </div>
        <div ng-if="field.$states.$current !== field.$states.READ &&
                    field.$states.$current !== field.$states.DELETE">
            <button id="{{ field.$name }}"
                    class="form-control"
                    ng-click="resourcePicker(field)"
                    ng-model="field.$value">
                <span ng-if="field.$states.$current === field.$states.CREATE ||
                             field.$states.$current === field.$states.UPDATE" >
                    <span ng-if="!field.$value">
                        Select <span class="text-capitalize"><strong>{{ field.$name }}</strong></span>
                    </span>
                    <span ng-if="field.$value">
                        <span class="text-capitalize"><strong>{{ field.$value }}</strong></span>
                    </span>
                </span>
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="field-string.html">
        <div ng-if="field.$states.$current === field.$states.READ">
            {{ field.$value }}
        </div>
        <div ng-if="field.$states.$current !== field.$states.READ &&
                    field.$states.$current !== field.$states.DELETE">
            <input ng-model="field.$value"
                   class="form-control"
                   id="{{ field.$name }}"
                   type="{{ field.$type }}"
                   minlength="{{ field.$minlength }}"
                   maxlength="{{ field.$maxlength }}"
                   required="{{ field.$required }}"
                   value="{{ field.$value }}"
                   placeholder="{{ field.$name }}" />
        </div>
    </script>

    <script type="text/ng-template" id="field-integer.html">
        <div ng-if="field.$states.$current === field.$states.READ">
            {{ field.$value }}
        </div>
        <div ng-if="field.$states.$current !== field.$states.READ &&
                    field.$states.$current !== field.$states.DELETE">
            <input ng-model="field.$value"
                   class="form-control"
                   id="{{ field.$name }}"
                   type="{{ field.$type }}"
                   minlength="{{ field.$minlength }}"
                   maxlength="{{ field.$maxlength }}"
                   required="{{ field.$required }}"
                   value="{{ field.$value }}"
                   placeholder="{{ field.$name }}" />
        </div>
    </script>

    <script type="text/ng-template" id="field-datetime.html" >
        <div ng-if="field.$states.$current === field.$states.READ">
            {{ field.$value.toUTCString() }}
        </div>
        <div ng-if="field.$states.$current !== field.$states.READ &&
                    field.$states.$current !== field.$states.DELETE">
            <input uib-datepicker-popup="{{ format }}"
                   type="text"
                   ng-model="field.$value"
                   class="form-control"
                   show-weeks="true"
                   is-open="opened"
                   alt-input-formats="altInputFormats" ng-click="opened=true" />
            <!--<button type="button" class="btn btn-default" ng-click="opened=true"><i class="glyphicon glyphicon-calendar"></i></button>-->
        </div>
    </script>

    <script type="text/ng-template" id="field-list.html">
        <div ng-if="field.$states.$current === field.$states.READ">
            <ul>
                <li ng-repeat="value in field.$value" >{{ value }}</li>
            </ul>
        </div>

        <div ng-if="field.$states.$current !== field.$states.READ &&
                    field.$states.$current !== field.$states.DELETE">
            <select ng-model="field.$value" multiple>
                <option ng-repeat="allowed in validator.allowed" >{{ allowed }}</option>
            </select>
        </div>
    </script>

    <script type="text/ng-template" id="field-resource.html">
        <div ng-if="field.$states.$current === field.$states.READ">
            <apy-field ng-repeat="component in field.$components" field="component"></apy-field>
        </div>
        <div ng-if="field.$states.$current !== field.$states.READ &&
                    field.$states.$current !== field.$states.DELETE">
            <button id="{{ field.$name }}"
                    class="form-control"
                    ng-model="field">
                <span class="text-capitalize">add <strong>{{ field.$name }}</strong> document</span>
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="field-media.html">
        <div ng-if="field.$states.$current === field.$states.READ">
            {{ field.$value }}
        </div>
        <div ng-if="field.$states.$current !== field.$states.READ &&
                    field.$states.$current !== field.$states.DELETE">
            <!--<div class="form-group">-->
            <!--<button class="btn btn-warning" ngf-select="imagesSelected($files)" multiple="multiple"  >Upload</button>-->
            <!--</div>-->
            <form class="form-inline">
                <div class="row">
                    <!--<div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"-->
                    <!--ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"-->
                    <!--ngf-resize="{width: 100, height: 100}">-->
                    <!--Select-->
                    <!--</div>-->
                    <div class="form-group form-group-lg col-md-7">
                        <button class="form-control btn btn-warning drop-box"
                                ngf-select="field.setFile($files[0])"
                                multiple="multiple" >Upload</button>
                        <!--<i class="glyphicon glyphicon-file"></i>-->
                        <!--<i class="glyphicon glyphicon-film"></i>-->
                        <!--<i class="glyphicon glyphicon-music"></i>-->
                        <!--<div class="button" ngf-select="upload($file)">Upload on file select</div>-->
                        <!--<div class="button" ngf-select="uploadFiles($files)" multiple="multiple">Upload on file select</div>-->
                        <!--<div ngf-drop="uploadFiles($files)" class="drop-box"-->
                        <!--ngf-drag-over-class="'dragover'" ngf-multiple="true"-->
                        <!--ngf-pattern="'image/*,application/pdf'">Drop Images or PDFs files here</div>-->
                        <!--<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>-->
                    </div>
                    <!--<div class="form-group  form-group-lg col-md-2">-->
                    <!--<button type="submit" ng-click="submit()" class="form-control">-->
                    <!--<i class="glyphicon glyphicon-upload"></i>-->
                    <!--</button>-->
                    <!--</div>-->
                    <div class="form-group  form-group-lg col-md-5" ng-if="field.media.path">
                        <div class="thumbnail">
                            <img ng-if="field.media.isImage" data-ng-src="{{ field.media.path }}" width="96" height="96" />
                            <div class="caption text-centered">
                                <a target="_blank"  ng-href="{{ field.media.path }}" >
                                    <i class="glyphicon glyphicon-link"></i> {{ field.media.name || "link" }}
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="form-group form-group-lg col-md-12">
                        <div class="center-block center centered">
                            <pre>{{ field.media }}</pre>
                            <!--<img src="{{ resource.$endpoint + field.$value.substring(1) }}"  style="width: 96px; height: 96px;">-->
                            <!--&lt;!&ndash;<img ng-repeat="file in files" ngf-src="file"  style="width: 96px; height: 96px;">&ndash;&gt;-->
                            <!--<audio ng-repeat="file in files" controls ngf-src="file"></audio>-->
                            <!--<video ng-repeat="file in files" controls ngf-src="file"></video>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <!-- End Apy Fields -->
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th ng-repeat="header in $collection.$schema.$headers" >
                <strong class="text-capitalize text-underlined">{{ header }}</strong>
            </th>
            <th><i ng-click="createResource()" class="glyphicon glyphicon-plus"></i></th>
            <th>
                <i ng-click="updateResources()" ng-if="$collection.savedCount() > 0 && !$collection.hasCreated() && !updateHidden" class="glyphicon glyphicon-pencil"></i>
                <!--<i ng-click="setRead($collection)" ng-if="!validateHidden" class="glyphicon glyphicon-ok"></i>-->
                <i ng-click="cancel()" ng-if="$collection.savedCount() > 0 && updateHidden" class="glyphicon glyphicon-arrow-left"></i>
            </th>
            <th>
                <i ng-click="deleteResources()" ng-if="$collection.savedCount() > 0 && !$collection.hasCreated() && !updateHidden" class="glyphicon glyphicon-trash"></i>
                <i ng-click="$collection.reset()" ng-if="$collection.count() > 0 && !validateHidden" class="glyphicon glyphicon-erase"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="resource in $collection.$components track by $index">
            <td scope="row">{{ $index + 1 }}</td>
            <td ng-repeat="field in resource.$components" >
                <apy-field field="field"></apy-field>
            </td>
            <td></td>
            <td>
                <i ng-if="resource.$states.$current === resource.$states.READ"
                   ng-click="updateResource(resource)" class="glyphicon glyphicon-pencil"></i>
                <i ng-if="resource.$states.$current === resource.$states.CREATE"
                   ng-click="create(resource)" class="glyphicon glyphicon-ok"></i>
                <i ng-if="resource.$states.$current === resource.$states.UPDATE"
                   ng-click="update(resource)" class="glyphicon glyphicon-ok"></i>
                <i ng-if="resource.$states.$current === resource.$states.CREATE"
                   ng-click="resource.reset()" class="glyphicon glyphicon-erase"></i>
            </td>
            <td>
                <i ng-if="resource.$states.$current === resource.$states.UPDATE"
                   ng-click="resource.reset()" class="glyphicon glyphicon-erase"></i>
                <i ng-if="resource.$states.$current === resource.$states.CREATE"
                   ng-click="removeResource(resource)" class="glyphicon glyphicon-trash"></i>
                <i ng-if="resource.$states.$current !== resource.$states.CREATE &&
                          resource.$states.$current !== resource.$states.UPDATE"
                   ng-click="delete(resource)" class="glyphicon glyphicon-trash"></i>
            </td>
        </tr>
        <tr ng-if="$collection.count() === 0">
            <td class="text-center" colspan="{{ $collection.$schema.$headers.length + 4 }}">
                <span >No Items Found.</span>
            </td>
        </tr>
        </tbody>
    </table>

    <script type="text/ng-template" id="modal.html">
        <div class="modal-header">
            <h3 class="modal-title">
                 <span class="text-capitalize" >
                     <strong>{{ $collection.$name }}</strong> Collection</span>
            </h3>
            (<i>Select a resource of your choice amongst the collection</i>)
        </div>
        <div class="modal-body">
            <div class="scrolling-table">
                <div>
                    <div>
                        <table class="table">
                            <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th ng-repeat="header in $collection.$schema.$headers" >
                                    <strong class="text-capitalize text-underlined">{{ header }}</strong>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="cursor: pointer;"
                                ng-repeat="resource in $collection.$components track by $index"
                                ng-click="select(resource)" >
                                <!--ng-click="$resource.updateSelf(resource)" >-->


                                <td scope="row">{{ $index + 1 }}</td>
                                <td ng-repeat="field in resource.$components" >
                                    <apy-field field="field"></apy-field>
                                </td>

                            </tr>
                            <tr ng-if="$collection.count() === 0">
                                <td class="text-center"
                                    colspan="{{ $collection.$schema.$headers.length + 1 }}">
                                    <span >No Items Found.</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!--<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>-->
            <button class="btn btn-warning" type="button" ng-click="cancel($resource)">Cancel</button>
        </div>
    </script>

</div>